@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";

*{
  margin: 0;
}
body{
  cursor: url(cursor.svg), auto;
}
body::-webkit-scrollbar {
      display: none;
}
.head{
  background-image: var(--gradient-15); /*Or 30*/
  height:100vh;
}
.logo{
  position:relative;
  background-color:white;
  text-align:center;
  animation: shift 5s var(--ease-in-out-3) alternate infinite;
  border-radius: var(--radius-blob-1);
  height:45vmin;
  aspect-ratio:1/1;
  margin:auto;
  top:25vh;
  line-height:8vmin;
  /*
  */
}
.heroText{
   margin-top:0;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17vmin;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
}

.heroMid{
  vertical-align:middle;
}
@keyframes shift {
  0% {border-radius: var(--radius-blob-2)};
  25% {border-radius: var(--radius-blob-5)};
  50% {border-radius: var(--radius-blob-3)};
  75% {border-radius: var(--radius-blob-4)};
  100% {border-radius: var(--radius-blob-1)};
}

#body{
  height:100vh;
  position:relative;
}

b {
  font-size: 18px;
  color: white;
  position: relative;
  display: block;
  top: 46%;
  text-align: center;
  text-transform: uppercase;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-snap-align:center;
}

#pinMaster {
  position: relative;
}
.one {
  background-image: var(--gradient-2);
}
.two {
  background-image: var(--gradient-5);
  z-index:10000;
}
.three {
  background-image: var(--gradient-4);
  z-index:10000;
}
.four {
  background-image: var(--gradient-1);
  z-index:10000;
}

.sect{
  position:relative;
  height:50vh;
  width:50vw;
  margin:auto;
  top:25vh;
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
.holder{
  padding:1em 1.5em;
}
.title{
  font-size:4vmin;
}
.navOne{
  background-image: var(--gradient-1);
  border-radius: var(--radius-5);
}
.navWrap:hover .navOne{
   background-image: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navTwo{
    background-image: var(--gradient-27);
  border-radius: var(--radius-5);
}
.navWrap:hover .navTwo{
   background-image: var(--gradient-27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navThree{
    background-image: var(--gradient-25);
  border-radius: var(--radius-5);
}

.navWrap:hover .navThree{
   background-image: var(--gradient-25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFour{
    background-image: var(--gradient-3);
  border-radius: var(--radius-round);
}

.navWrap:hover .navFour{
   background-image: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFive{
    background-image: var(--gradient-19);
  border-radius: var(--radius-5);
}

.navWrap:hover .navFive{
   background-image: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navH{
  background-image: var(--gradient-14);
border-radius: var(--radius-5);
}
.navWrap:hover .navH{

     background-image: var(--gradient-14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
  background-color:white;
  display:flex;
  flex-grow: 1;
  border-radius: var(--radius-round);
  /*padding:5px; /*if you can't fix it, make it look purposeful!*/
}
.navWrap{
  padding: 10px;
  border-radius: var(--radius-round);
  margin:0 1vmax;
  cursor: pointer;
}
.navWrap:nth-child(1){
  background-image: var(--gradient-1);
}
.navWrap:nth-child(2){
    background-image: var(--gradient-27);
}
.navWrap:nth-child(3){
    background-image: var(--gradient-25);
}
.navWrap:nth-child(4){
    background-image: var(--gradient-19);
}
.navWrap:nth-child(5){
    background-image: var(--gradient-14);
}
.marquee {
    overflow: hidden;
    width:100%;
    display:flex;
    color:white;
    font-weight:bold;
}


.marquee__inner {
  display: flex;
  -webkit-animation: navloop 40s linear infinite;
          -moz-animation: navloop 40s linear infinite;
          -o-animation: navloop 40s linear infinite;
}
.marquee .den {
   font-family: var(--font-serif);
   font-size: 7vmin;
   padding: 1vw 2vw;
}
.den{
  min-width:4em;
  text-align:center;
}
.marquee:hover .marquee__inner {
    animation-play-state: paused;
}

.outer{
}
@-webkit-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-moz-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-o-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

#underhead{
  font-size: 8vmin;
  display: inline-block;
}
#underhead::before{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-right:1vmin;
}
#underhead::after{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-left:1vmin;
}

@media screen and (max-width: 750px){
  .heroText{
    font-size:12vmin;
  }
  #underhead{
    font-size: 6vmin;
  }
}

#logH::after{
  content: url('./paw.svg');
}
#cursorR{
  cursor:default;
}
.reviewBlock{
background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);
  font-family:var(--font-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin-bottom:5vh;
  padding:5px;
}
.userIcon{
  height:40px;
  border-radius: var(--radius-round);
  margin:5px;
}
#iconHomeFirst{
  content: url('./usericon/iconBlue.svg');
  border: 5px solid rgb(53, 197, 255);
}
#iconHomeSecond{
  content: url('./usericon/iconOrange.svg');
  border: 5px solid rgb(255, 87, 52);
}
#iconHomeThird{
  content: url('./usericon/iconPurple.svg');
  border: 5px solid rgb(139, 53, 255);
}
  #subImg{
    height:25vh;
    position:absolute;
    top:22vh;
    left:27vw;
  }
  @media screen and (max-width: 680px){
    #subImg{
      height: 0;
    }
  }@media screen and (max-height: 600px){
    #subImg{
      height: 0;
    }
  }
  #displayFirst{
    background-image: url(./walk.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displaySecond{
    background-image: url(./walk2.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displayThird{
    background-image: url(./walk3.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  .gallery {
    top:22vh;
  }

  .gallery-cell {
    position:relative;
    height:50vh;
    width:50vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);  /* inner-shadow? */
    font-family:var(--font-sans);
    margin:30px;
  }

  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

#packageOne{
    margin:auto;
              background-color:white;
              width:60vw;
              height:25em;
              border-radius:2em;
              box-shadow:0 3px 7px black;
}

#packageTwo{
margin:auto;
              background-color:white;
              width:60vw;
              height:40em;
              border-radius:2em;
              box-shadow:0 3px 7px rgb(238, 188, 29);
}

#packageThree{
margin:auto;
              top:5vh;
              background-color:white;
              width:60vw;
              height:32em;
              border-radius:2em;
              box-shadow:0 3px 7px black;
}

@media screen and (min-width: 680px) and (min-height:600px){
  .reviewBlock{
    position:absolute;
    height:20vh;
    width:20vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
    font-family:var(--font-sans);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
}

.packageTitle{
  position:relative;
  width:100%;
  text-align:center;
  top:2vh;
  font-weight:bold;
  color:rgb(75, 75, 75 );
  padding-top:10px;
}
.titleNum{
  border:4px solid rgb(75, 75, 75 );
  padding:15px;
  border-radius: var(--radius-round);
  font-size: var(--font-size-5);
    vertical-align:middle;
}
.packageSubtitle{
font-size: var(--font-size-3);
}
.packageContent{
  padding:35px 10px 10px 10px;
  text-align:center;
  font-size: var(--font-size-3);
}
.contactRec{
  position:relative;
  text-align:center;
  font-size: var(--font-size-3);
}
#contactRec1{
  top:70%;
}
#contactRec2{
  top:80%;
}
#contactRec3{
  top:75%;
}

@media screen and (min-width: 1400px) and (min-height: 740px){

  #packageOne{
    position:absolute;
                left:15vw;top:28vh;
                width:20vw;
  }
  #packageTwo{
    position:absolute;
                left:40vw;top:28vh;
                width:20vw;
  }
  #packageThree{
    position:absolute;
                left:65vw;
                top:28vh;
                width:20vw;
  }
}
#organizer{
  background-color: rgba(255,255,255,.7);
  max-width:110vmin;
  margin:auto;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
  position:relative;
  top:30vmin;
  padding-top:20px;
  padding-bottom:20px;
}
.buttonHolder{
  display: flex;
  justify-content:center;
  text-align:center;
	align-items: center;
  margin:auto;
  z-index:1;
  width:90vmin;
  padding:20px;
  transition: 0.8s ease;
}

.button {
  display: block;
  position: relative;
  padding: 1.5em 3em;
  border: 0;
  color: #70615d;
  background-color:#FDF8F2;
  letter-spacing:2px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #70615d;
  transition: 0.8s ease;
}
.button:hover {
  background: #E3DFD9;
  transition: 0.8s ease;
}
.button::before, .button::after {
  content: '';
    position: absolute;
    background: #70615d;
    height: 2px;
    top: 27px; /*prevents refreshing to wiggle them*/
    transition: 0.8s ease;
}
.button::before{
  left: 100%;
  right: -15%;
  transition: 0.8s ease;
}
.button::after{
  right: 100%;
  left: -15%;
  transition: 0.8s ease;
}
.buttonHolder:hover > .button::before{
  left: 100%;
  right: -30%;
}
.buttonHolder:hover > .button::after{
  right: 100%;
  left: -30%;
}

@media screen and (max-width:620px){
  .buttonHolder:hover > .button::before{
    left: 100%;
    right: -15%;
  }
  .buttonHolder:hover > .button::after{
    right: 100%;
    left: -15%;
  }
}

.modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(71,59,56,0.4);
}
.modalContent{
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 60vw;
  box-shadow: var(--shadow-4);
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
#modalStuff{
  padding:1em;
}

.close{
  color: #818181;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: .5s;
  background-color:white;
}
.close:hover, .close:focus{
  color: #70615d;
  text-decoration: none;
  cursor: pointer;
}

.icons{
  fill:url('#linDef');
  padding:20px;
  height:20vmin;
  width:20vmin;
  transition:.5s;
}
@media screen and (max-width: 850px) and (min-height:400px){
  .organizer{
  }
}
.icons:hover{
  transform: scale(1.15);
}
.buttonFill {
  display: block;
    position: relative;
  color: rgb(75,75,75);
  white-space: nowrap;
  vertical-align:middle;
}
#setPlace{
  height:100%;
  margin-top:3px;
  vertical-align:top;
  transform:scale(1.2);
  border:0;
  background-color:inherit;
}#icon1:hover{
fill:url("#gradientA");
}
#icon2:hover{
fill:url("#gradientB");
}
#icon3:hover{
fill:url("#gradientC");
}
#icon4:hover{
fill:url("#gradientD");
}
.input{
min-width:90%;
padding:10px;
margin:10px;
  background-color: white;
  border-radius: var(--radius-4);
  font-family:var(--font-sans);
}
.revDis{
  width:80vw;
  position:relative;
  left:9vw;
  padding:20px;
  margin-bottom:40px;
  background-color:white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
  font-size: var(--font-size-5);
}
#head{
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  background-image: var(--gradient-15);
}
#headTitle{
  position: relative;
  display: inline-block;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
 font-size: 6vmin;
}
#headTitle::before{
  content: url('./paw.svg');;
  display: inline-block;
  width: 15vh;
  height: 15vh;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  margin: 10px;
}
