@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";

*{
  margin: 0;
}
body::-webkit-scrollbar {
      display: none;
}
.head{
  background-image: var(--gradient-15); /*Or 30*/
  height:100vh;
}
.logo{
  position:relative;
  background-color:white;
  text-align:center;
  animation: shift 5s var(--ease-in-out-3) alternate infinite;
  border-radius: var(--radius-blob-1);
  height:45vmin;
  aspect-ratio:1/1;
  margin:auto;
  top:25vh;
  /*
  */
}
.heroText{
   margin-top:0;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17vmin;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
}

.heroMid{
  vertical-align:middle;
}
@keyframes shift {
  0% {border-radius: var(--radius-blob-2)};
  25% {border-radius: var(--radius-blob-5)};
  50% {border-radius: var(--radius-blob-3)};
  75% {border-radius: var(--radius-blob-4)};
  100% {border-radius: var(--radius-blob-1)};
}

#body{
  height:100vh;
  position:relative;
}

b {
  font-size: 18px;
  color: white;
  position: relative;
  display: block;
  top: 46%;
  text-align: center;
  text-transform: uppercase;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-snap-align:center;
}

#pinMaster {
  position: relative;
}
.one {
  background-image: var(--gradient-1);
}
.two {
  background-image: var(--gradient-2);
  z-index:10000;
}
.three {
  background-image: var(--gradient-5);
  z-index:10000;
}
.four {
  background-image: var(--gradient-4);
  z-index:10000;
}

.sect{
  position:relative;
  height:50vh;
  width:50vw;
  margin:auto;
  top:25vh;
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
.holder{
  padding:1em 1.5em;
}
.title{
  font-size:4vmin;
}
.navOne{
  background-image: var(--gradient-1);
  border-radius: var(--radius-5);
}
.navWrap:hover .navOne{
   background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navTwo{
    background-image: var(--gradient-27);
  border-radius: var(--radius-5);
}
.navWrap:hover .navTwo{
   background: var(--gradient-27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navThree{
    background-image: var(--gradient-25);
  border-radius: var(--radius-5);
}

.navWrap:hover .navThree{
   background: var(--gradient-25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFour{
    background-image: var(--gradient-3);
  border-radius: var(--radius-5);
}

.navWrap:hover .navFour{
   background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFive{
    background-image: var(--gradient-19);
  border-radius: var(--radius-5);
}

.navWrap:hover .navFive{
   background: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav{
  background-color:white;
  display:flex;
  flex-grow: 1;
  border-radius: var(--radius-5);
  position:relative;
  z-index:1;
}
.navWrap{
  padding: .6vw;
  border-radius: var(--radius-5);
  margin:0 10px;
  position:relative;
  z-index:2;
}
.navWrap:nth-child(1){
  background-image: var(--gradient-1);
}
.navWrap:nth-child(2){
    background-image: var(--gradient-27);
}
.navWrap:nth-child(3){
    background-image: var(--gradient-25);
}
.navWrap:nth-child(4){
    background-image: var(--gradient-3);
}
.navWrap:nth-child(5){
    background-image: var(--gradient-19);
}
.marquee {
    position: relative;
    overflow: hidden;
    width:100%;
    display:flex;
    color:white;
    font-weight:bold;
}


.marquee__inner {
  display: flex;
  -webkit-animation: navloop 40s linear infinite;
          -moz-animation: navloop 40s linear infinite;
          -o-animation: navloop 40s linear infinite;
}
.marquee .den {
   font-weight: 6vw;
   font-family: var(--font-serif);
   font-size: 12vmin;
   padding: 1vw 2vw;
}
.den{
  min-width:4em;
  text-align:center;
  position:relative;
  z-index:3;
}
.marquee:hover .marquee__inner {
    animation-play-state: paused;
}

.outer{
}
@-webkit-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-moz-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-o-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }
