@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


*{
  margin: 0;
}
body::-webkit-scrollbar {
      display: none;
}
.head{
  background-image: var(--gradient-15); /*Or 30*/
  height:100vh;
}
.logo{
  position:relative;
  background-color:white;
  text-align:center;
  animation: shift 5s var(--ease-in-out-3) alternate infinite;
  border-radius: var(--radius-blob-1);
  height:45vmin;
  aspect-ratio:1/1;
  margin:auto;
  top:25vh;
  /*
  */
}
.heroText{
   margin-top:0;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17vmin;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
}

.heroMid{
  vertical-align:middle;
}
@keyframes shift {
  0% {border-radius: var(--radius-blob-2)};
  25% {border-radius: var(--radius-blob-5)};
  50% {border-radius: var(--radius-blob-3)};
  75% {border-radius: var(--radius-blob-4)};
  100% {border-radius: var(--radius-blob-1)};
}

#body{
  height:100vh;
  position:relative;
}

b {
  font-size: 18px;
  color: white;
  position: relative;
  display: block;
  top: 46%;
  text-align: center;
  text-transform: uppercase;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-snap-align:center;
}

#pinMaster {
  position: relative;
}
.one {
  background-image: var(--gradient-1);
}
.two {
  background-image: var(--gradient-2);
  z-index:10000;
}
.three {
  background-image: var(--gradient-5);
  z-index:10000;
}
.four {
  background-image: var(--gradient-4);
  z-index:10000;
}

.sect{
  position:relative;
  height:50vh;
  width:50vw;
  margin:auto;
  top:25vh;
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
.holder{
  padding:1em 1.5em;
}
.title{
  font-size:4vmin;
}
.navOne{
  background-image: var(--gradient-24);
  border-radius: var(--radius-4);
  margin:3vw;
  border: 4px solid black;
}
.navOne:hover{
   background: var(--gradient-24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.navTwo{
    background-image: var(--gradient-14);
    border-radius: var(--radius-4);
    margin:3vw;
  border: 4px solid black;
}
.navTwo:hover{
   background: var(--gradient-14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
.navThree{
    background-image: var(--gradient-7);
    border-radius: var(--radius-4);
    margin:3vw;
  border: 4px solid black;
}

.navThree:hover{
   background: var(--gradient-7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
.navFour{
    background-image: var(--gradient-29);
    border-radius: var(--radius-4);
    margin:3vw;
  border: 4px solid black;
}

.navFour:hover{
   background: var(--gradient-29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
.navFive{
    background-image: var(--gradient-19);
    border-radius: var(--radius-4);
    margin:3vw;
  border: 4px solid black;
}

.navFive:hover{
   background: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
.marquee {
    position: relative;
    overflow: hidden;
    width:100%;
    display:flex;
    color:white;
    font-weight:bold;
}

.marquee__inner {
  display: flex;
  -webkit-animation: navloop 40s linear infinite;
          -moz-animation: navloop 40s linear infinite;
          -o-animation: navloop 40s linear infinite;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}

.marquee:hover .marquee__inner {
    animation-play-state: paused;
}
@-webkit-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-moz-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-o-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }
